<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digits Recognition</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='libraries/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/p5.sound.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h2>Digit Recognition using PyTorch Model:</h2>
      <button id="reset">reset</button>
      <button id="submit">submit</button>
      <p id="digit">Input a digit:</p>
      <script src="{{ url_for('static', filename='sketch.js') }}"></script>
    </div>
    <footer>
      &copy; all rights reserved 88VwV88 2024
    </footer>
  </body>
</html>
